# Dependencies
node_modules
.pnpm-store

# Build
.next/
dist/
build/
out/

# Environment
.env
.env.local
.env.*.local

# AI / Editors
.DS_Store
.idea/
.vscode/
*.swp
.cursor/
.history/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/
playwright-report/
test-results/

# Vercel
.vercel
